body {
  padding-bottom: 50;
}
li {
  display: inline-block;
  padding: 10;
  box-align: left;
  margin-left: -30;
  margin-top: 100;
  box-sizing: border-box -100;
  size: -100;
}








footer {
  display: inline;
  background-color: black;
  color: white;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
  padding: 30;
}